<img src="/images/reset_password.png" id="logo" /> 

<div id="login">

	<div class="errors" id="settings_errors">
		<ul>
			<li><%= flash[:errors] %></li>
		</ul>
	</div>
	
	<%= form_for @user, :url => "/set_password/#{@reset_password_token}" do |f| -%>

		<div id="signup_errors" class="errors">
		</div>

	  <%= f.password_field 'password', :class => 'field', :id => 'password',
		:value => "PASSWORD",
		:onblur => "if(this.value=='') this.value=this.defaultValue;",
		:onfocus => "if(this.value==this.defaultValue) this.value='';" %>

	  <%= f.password_field 'password_confirmation', :class => 'field', :id => 'password_confirmation',
		:value => "password",
		:onblur => "if(this.value=='') this.value=this.defaultValue;",
		:onfocus => "if(this.value==this.defaultValue) this.value='';" %>
	
	  <%= f.submit "Save", { :class => 'button', :onclick => '$(".button").html("Saving...")' } %>

	<% end %>
</div>

<div id="planet"></div>

<div id="sun"></div>