<div id="container">
	<div class="left">
		<h1></h1>
		<h3><%= link_to "Create a New Deck", :controller => "deckbuilder" %></h3>
		<p>Use the deckbuilder to create a new deck by searching the card library.</p>
		<h3><%= link_to "Create a deck manually", :controller => "deckbuilder" %></h3>
		<p>Create a new deck by entering each card by hand. Recommended if you already have the deck written down on paper.</p>
		<h3><%= link_to "Edit an Existing Deck", :controller => "deckbuilder" %></h3>
		<p>Open a deck from your deckbox and make changes.</p>
		<h3><%= link_to "Convert a Deck", :controller => "deckbuilder" %></h3>
		<p>Import a Holotable or plain text file to your deckbox.</p>
		<h3><%= link_to "Import a Shared Deck", :controller => "deckbuilder" %></h3>
		<p>Import a deck created by another user into your personal deckbox.</p>
	</div>
</div>

<div class="center">
</div>