<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" type="image/png" href="/favico.png" />
  <title>SWCCG Online | Deckbuilder</title>
  
  <%= stylesheet_link_tag "stylesheet", :media => "all" %>
  <%= stylesheet_link_tag "deckbuilder", :media => "all" %>

  <%= javascript_include_tag :defaults, "jquery.livequery", "jquery.corner", "jquery.qtip", "jquery.ui" %>
	<%= stylesheet_link_tag "/themes/custom-theme/ui.all.css" %>
  
</head>
<body>
  
  <%= render :partial => "launch/header" %>
  <%= yield :layout %>
  <%= render :partial => "launch/footer" %>

</body>
</html>
