<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
<head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" type="image/png" href="/favico.png" />
  
  <title>SWCCG Online | Login</title>
  
  <%= stylesheet_link_tag "login", :media => "all" %>
  <%= stylesheet_link_tag "boxy", :media => "all" %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.boxy.js" %>
  <%= javascript_include_tag "jquery.qtip.js" %>
  <%= javascript_include_tag "jquery.corner" %>

</head>
<body>
  <%= yield :layout %>
</body>
</html>